server:
  port: 8888

spring:
  application:
    name: api-gateway

eureka:
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8081/eureka/

# Management endpoints (optional)
management:
  endpoints:
    web:
      exposure:
        include:
          - "routes"
